@mixin footer {
    background-color: $footerColor;
    color: $thirdColor;
    list-style-type: none;

    .container {
        width: 80%;
        margin: auto;

        .linksAndSocial {
            padding-top: 2vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            // Responsive mobile
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
            }

            .links {
                width: 20%;
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                padding-left: 0%;

                // Responsive tablette
                @media (max-width: 992px) {
                    width: 30%;
                }

                // Responsive mobile
                @media (max-width: 768px) {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                }
            }

            .icons {
                width: 10%;
                display: flex;
                justify-content: space-between;

                // Responsive tablette
                @media (max-width: 992px) {
                    width: 20%;
                }

                i {
                    border: 1px solid white;
                    border-radius: 50px;
                    padding: 0.5em;
                    min-width: 1em;
                    text-align: center;
                }

            }
        }

        .box {
            display: flex;
            flex-direction: row-reverse;

            .bottomFooter {
                padding-top: 2vh;
                padding-bottom: 2vh;
                display: flex;
                justify-content: space-between;
                padding-left: 0%;
                width: 30%;

                // Responsive tablette
                @media (max-width: 992px) {
                    width: 60%;
                }

                // Responsive mobile
                @media (max-width: 768px) {
                    padding-top: 0%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }

                li {
                    list-style-type: none;
                    text-align: center;
                }
            }
        }


    }
}