@mixin header {

    .myNav {
        position: relative;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $navColor;

        // Responsive mobile
        @media (max-width: 768px) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        #myLinks {
            width: 40%;

            // Responsive mobile
            @media (max-width: 768px) {
                width: 20%;
                display: none;
            }

            @media (max-width: 425px) {
                width: 37%;
            }

            ul {
                display: flex;
                justify-content: space-between;
                list-style-type: none;

                //Responsive mobile
                @media (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                }
            }

            button {
                width: 15%;
                background-color: $secondColor;
                color: $thirdColor;
                border-radius: 12px;
                border-color: $secondColor;
                border-style: solid;

                @media (max-width: 992px){
                    width: 30%;
                }

                @media (max-width: 768px) {
                    width: 70%;
                }

                @media (max-width: 425px) {
                    width: 65%;
                }
            }
        }
    }

    /* Style navigation menu links */
    .myNav a {

        // Responsive mobile
        @media (max-width: 768px) {
            padding: 14px 16px;
            display: block;
        }
    }

    /* Style the hamburger menu */
    .myNav a.icon {
        display: none;
        color: black;

        @media only screen and (max-width: 768px) {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}