@mixin section2 {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;

    h2 {
        color: $secondColor;
    }

    // Responsive téléphone
    @media (max-width: 425px){
        width: 90%;
    }
}