body {
    header {
        nav {
            width: 80%;
            margin: auto;
            display: flex;
            ul {
                width: 40%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;

                li{
                }
            }
        }
    }
}